* {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body,
.canvas,
.main-container {
  height: 100%;
}

.marquee {
  height: 5%;
  white-space: nowrap;
  overflow: hidden;
}
.marquee > * {
  font-size: 1.5rem;
  animation: animate 2000s linear infinite;
  display: inline-block;
}

span {
  font-size: 1.5rem;
}

@keyframes animate {
  100% {
    transform: translate(-100%, 0);
  }
}

.header {
  font-size: 4rem;
}

.search-container {
  height: 40px;
  width: 40%;
}

#searchLine {
  flex-grow: 1;
  border-radius: 6px;
}

#searchBtn {
  border-radius: 6px;
}

.results-container {
  width: 80%;
  height: 10%;
}

#resultsList {
  list-style: none;
  width: 50%;
}

a:link {
  text-decoration: none;
  color: black;
}

li:hover {
  background-color: lightgray;
}

.results-container img {
  max-height: 70px;
  max-width: 120px;
  padding-right: 20px;
  font-size: x-small;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

a,
a > * {
  font-size: 1.3rem;
  font-weight: 600;
}
